* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Spotify.jpeg");

}

body * {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

#boxes * {
    border: 1px solid transparent;
}

#boxes {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas:
        'A B'
        'A C';
    gap: 32px;
    place-content: center;
    height: 100vh;
}

#player01 {
    grid-area: A;
    padding: 50px 38px;
}

#player01 .wrapper {
    width: 190px;
}


#player01 img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}

#player01 .info {
    padding-top: 28px;
}

#player02 {
    grid-area: B;
    height: fit-content;
}

#player02 .controls {
    display: flex;
    justify-content: space-around;
}

#player03 {
    grid-area: C;
}

#player03 .controls {
    display: flex;
    justify-content: space-around;
}

.player {
    background-color: #080747;
    padding: 28px;
    border-radius: 20px;
}

.player img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 10px;
}


.info {
    color: #E1E1E6;
}

.info p {
    opacity: 0.68;
    font-size: 19px;
}

.info-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.player h1 {
    font-size: 27px;
    color: #E1E1E6;
    padding-bottom: 7px;
}